# Node modules
node_modules/

package-lock.json

# Logs
logs
*.log

# dotenv
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal

# TypeScript
dist/
build/
*.tsbuildinfo

# VSCode
.vscode/

# Jest
coverage/
